Source: proxy-vole
Section: java
Priority: optional
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Uploaders: Yadickson Soto <yadickson@gmail.com>
Build-Depends: debhelper (>= 9), cdbs, default-jdk, maven-debian-helper (>= 1.5)
Build-Depends-Indep: libini4j-java, libjna-java
Standards-Version: 3.9.6
Vcs-Git: https://anonscm.debian.org/git/pkg-java/proxy-vole.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-java/proxy-vole.git
Homepage: https://github.com/MarkusBernhardt/proxy-vole

Package: libproxy-vole-java
Architecture: all
Depends: ${misc:Depends}, ${maven:Depends}, libini4j-java
Suggests: ${maven:OptionalDepends}
Description: Proxy Vole
 Proxy Vole is a Java library to auto detect the platform network proxy
 settings.

